In [3]:
# Question-01

import pandas as pd

# Step 1: Create a DataFrame from the given data
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],  # Employee names
    'Age': [28, 34, 23, 29],                    # Employee ages
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],  # Departments
    'Salary': [45000, 60000, 35000, 50000]      # Employee salaries
}

# Convert the dictionary into a DataFrame
df = pd.DataFrame(data)
print(df)

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [5]:
#Question-02
#1
print(df.head(2))  # Display the first 2 rows

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

In [7]:
#2
df['Bonus'] = df['Salary'] * 0.10
print(df)

    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

In [9]:
#3
average_salary = df['Salary'].mean()
print(f"The average salary is: {average_salary}")

The average salary is: 47500.0

In [11]:
#4
older_than_25 = df[df['Age'] > 25]
print(older_than_25)

    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0