In [35]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score  # corrected 'metrics'
import seaborn as sns
import matplotlib.pyplot as plt

In [46]:
# Correct file path using one of the solutions above
data = pd.read_csv("C:/Users/ADMIN/OneDrive/Desktop/Day_7_sales_data.csv")

In [50]:
print("First 5 rows of the dataset:")
print(data.head())

First 5 rows of the dataset:
         Date Product Region    Sales  Profit  Quantity
0  2023-01-02  Tablet   East  1061.81  236.12         7
1  2023-01-06  Laptop  North  1926.07  246.34         8
2  2023-01-03  Tablet   East  1597.99  253.17         3
3  2023-01-20  Tablet  North  1397.99  242.23         1
4  2023-01-04  Laptop   West   734.03  140.36         4

In [52]:
print("\nBasic statistics of numerical columns:")
print(data.describe())

Basic statistics of numerical columns:
             Sales      Profit   Quantity
count    20.000000   20.000000  20.000000
mean   1186.553000  211.533000   5.050000
std     461.528444   66.916251   2.543826
min     530.880000   82.160000   1.000000
25%     774.517500  166.515000   2.750000
50%    1104.865000  214.670000   5.000000
75%    1571.080000  248.047500   7.250000
max    1954.860000  364.970000   9.000000

In [58]:
# 1. Calculate the total sales for each region
total_sales_by_region = data.groupby('Region')['Sales'].sum()
print("Total Sales for Each Region:")
print(total_sales_by_region)

Total Sales for Each Region:
Region
East      5818.93
North    10449.68
South      936.84
West      6525.61
Name: Sales, dtype: float64

In [60]:

# 2. Find the most sold product (based on quantity)
most_sold_product = data.groupby('Product')['Quantity'].sum().idxmax()
print("\nMost Sold Product (Based on Quantity):")
print(most_sold_product)

Most Sold Product (Based on Quantity):
Tablet

In [62]:

# 3. Compute the average profit margin for each product
data['Profit_Margin'] = (data['Profit'] / data['Sales']) * 100
avg_profit_margin_by_product = data.groupby('Product')['Profit_Margin'].mean()
print("\nAverage Profit Margin for Each Product:")
print(avg_profit_margin_by_product)

Average Profit Margin for Each Product:
Product
Keyboard      20.080696
Laptop        17.112734
Monitor       15.134989
Smartphone    23.703647
Tablet        19.955758
Name: Profit_Margin, dtype: float64